h1 {
    background-color: gold;
    color: blue;
    text-decoration: underline;
}

h2 {
    border: 10px dotted orange;
    color: purple;
    font-size: 25px;
    font-weight: bold;
}

section > p {
    background: gray;
    border: 5px solid black;
    color: white;
    height: 200px;
    width: 50%;
}

footer > h3 {
    background: black;
    border: 20px dashed lightgreen;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}